* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: url("/assets/image/rdc.jpg") no-repeat center center/cover;
    color: #fff;
    animation: floatBackground 6s ease-in-out infinite;
}

.login-container {
    width: 350px;
    padding: 40px;
    background: rgba(8, 0, 255, 0.1);
    backdrop-filter: blur(10px);
    box-shadow: 0 10px 15px rgba(229, 222, 25, 0.5);
    text-align: center;
    color: #fff;
    border-radius: 20px;
    animation: fadeIn 0.5s ease-in-out; /* Animation d'apparition */
}

@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(-20px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

.login-container h2 {
    margin-bottom: 20px;
    font-size: 2rem;
    color: #fff;
}

.input-box {
    position: relative;
    margin: 29px 0;
}

.input-box label {
    width: 20%;
    padding: 12px 15px;
    margin-right: 10px;
}

.input-box select {
    width: 50%;
    padding: 8px 10px;
    border: none;
    border-radius: 10px;
    outline: none;
    font-size: 1rem;
    transition: border 0.3s; /* Transition de bordure */
}

.input-box select:focus {
    border: 2px solid #0f9d58; /* Changement de bordure au focus */
}

.input-box input {
    width: 100%;
    padding: 12px 15px;
    border: none;
    border-radius: 10px;
    outline: none;
    font-size: 1rem;
    transition: box-shadow 0.3s; /* Transition d'ombre */
}

.input-box input:focus {
    box-shadow: 0 0 5px #0f9d58; /* Ombre au focus */
}

button {
    width: 100%;
    padding: 12px;
    border: none;
    border-radius: 10px;
    background: #0f9d58;
    color: white;
    font-size: 1rem;
    cursor: pointer;
    transition: background 0.3s, transform 0.2s; /* Transition pour le fond et la transformation */
}

button:hover {
    background: #0c7c44;
    transform: translateY(-2px); /* Légère élévation au survol */
}

button[type="submit"]:active {
    background: #fff;
    transform: translateY(0); /* Retour à la position normale */
}

#loader{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(255, 255, 255, 0.8);
    display: none;
    justify-content: center;
    align-items: center;
    z-index: 9999;
}
.spinner{
  border: 6px solid #f3f3f3;
  border-top: 6px solid #4CAF50;
  border-radius: 50%;
  width: 50px;
  height: 50px;
}
.spinner{
    animation: spin 0.8s linear infinite;
}


@keyframes floatBackground{
    0%{
        background-position: center top;
    }
    50%{
        background-position: center bottom;
    }
    100%{
        background-position: center top;
    }
}
@keyframes spin{
    0%{
        transform: rotate(0deg);
    }
    100%{
        transform: rotate(360deg);
    }
}

/*Grand Ecran et petit */
@media screen and (max-width: 768px){
    .login-container{
        width: 90%;
    }

}
